<div style="display:inline-block;font-size:25px;margin-bottom:50px;">Marketplace<button style="margin-left:20px;" type="button" (click)="logout()">Logout</button></div><br>

<div style="display:inline-block">
   <button id="l" style="outline:none;border:none;background:none;font-size:20px;" (click)="toggleBowl('#l', '#u')" type="button">Lower Bowl</button>
   <button id="u" style="outline:none;border:none;background:none;font-size:20px;color:#888;" (click)="toggleBowl('#u', '#l')" type="button">Upper Bowl</button>
</div>
